body {
    background-color: #e7e7e7;
  }
  
  #main-navigation {
    background-color: #dd0537;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }
  
  #all-posts {
    margin: 7rem auto;
    width: 90%;
    max-width: 60rem;
  }
  
  #all-posts h2 {
    text-align: center;
    font-size: 2rem;
    color: #2e2e2e;
    margin: 3rem 0;
  }

  .post-lists {
    display: block;  /* Remove bullet points; allow greater control of positioning */
    padding: 0;      /* Override defaults for lists */
    margin: 0;       /* Override defaults for lists */
    width: 100%;     /* Get the row full width */
  }

  .post-lists li {
    display: inline-block; /* Get all images to show in a row */
    width: 30%;            /* Show 4 logos per row */
    text-align: center;    /* Centre align the images */
  }

  @media (max-width: 960px) and (min-width: 501px) {
    .post-lists li { width: 50%; } /* Show 2 logos per row on medium devices (tablets, phones in landscape) */
  }

  @media (max-width: 500px) {
    .post-lists li { width: 100%; } /* On small screens, show one logo per row */
  }
    
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    gap: 1.5rem;
  }
  
  .post img {
    width: 7rem;
    height: 7rem;
  }
  
  .post a {
    height: 22rem;
    transform-origin: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: white;
  }