{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Projects
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "projects/project.css"%}" >
    <link rel="stylesheet" href="{% static "projects/all-projects.css"%}" >
{% endblock %}

{% block content %}
    <section id="all-posts">
        <h2>All Projects</h2>
        <ul>
            {% for project in projects %}
                {% include "projects/includes/project.html" %}
            {% endfor %}
        </ul>
    </section>
{% endblock %}