{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blogs/post.css"%}" >
    <link rel="stylesheet" href="{% static "blogs/index.css"%}" >
{% endblock %}

{% block content %}

    <section id="welcome">
        <header>
        <img src="{% static "blogs/images/ramniwas.jpg" %}" alt="" />
        <h2>RAMNIWAS's BLOG</h2>
        </header>
        <p>Hi, I am Ramniwas and I love to blog about tech and world</p>
    </section>

    <section id="latest-posts">
        <h2>My latest thought</h2>
        <div class="post-lists">
            <ul>
                {% for post in posts %}
                    {% include "blogs/includes/post.html" %}
                {% endfor %}
            </ul>
        </div
        <br/>
        <p>Hi, I am Ramniwas and I love to blog about tech and world</p>
    </section>
    <section id="about">
        <h2>What I Do</h2>
        <p>I love computer programming and app development.</p>
        <p>My goal to learn and use it to build something that helps a mankind to make there lify easy and provide all the information I have to the world!</p>

        <h3>Contact</h3>
        <p>+91 8686340975</p>
        <p>ramniwasg96@gmail.com</p>
    </section>
{% endblock %}